target
.idea
*.iml
next.txt
remaning.txt
noway.txt
kepek
/src/main/resources/out.stl
/src/main/resources/cube.stl
/src/main/resources/cubeText.stl
/src/main/resources/cubeBin.stl
/src/main/resources/colored.stl
/src/main/resources/outCubeBin.stl
/src/main/resources/outCubeBinToText.stl
/src/main/resources/outCubeText.stl
/src/main/resources/outCubeTextToBin.stl
/src/main/resources/coloredT.stl
/src/main/resources/Sphericon.stl
/src/main/resources/binarySaved.stl
/src/main/resources/textSaved.stl
src/main/java/training_tracker/*.html
